body {
    padding-top: 20px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
/* just to narrow up width of alerts */
.alert { padding:30px;  }

/*following from angular-ui.github.io/bootstrap (using boostrap with angularjs)
 the following deals with the fact that bootstrap uses empty href tags for things
 but in angular causes undesired route changes
 they also have 'pure' angular code in lieu of bootstrap libraries available   */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }