

<!DOCTYPE html>
<html lang="en">
<!-- Code to be loaded via jQuery     -->
<div class="container-fluid theme-showcase" role="main">

  <div class="page-header">
    <h3>Front Gate</h3>
  </div>
  <p>
    <button type="button" id="closeButton"  class="btn btn-lg btn-default">Close</button>
    <button type="button" id="openButton"  class="btn btn-lg btn-primary">Open</button>
    <button type="button" id="holdButton"  class="btn btn-lg btn-success">Hold</button>
  </p>

  <img id="gate-img" src="images/tmp-9.gif" class="img-responsive" alt="gate-closed" width="200" height="200">

</div> <!-- /container -->

</html>