
<!DOCTYPE html>

<div class="container-fluid theme-showcase " >
<div class ="deviceTypes">
    <div class="page-header">
      <h3>{{name}}</h3>
    </div>
    <p>
      <button ng-click="onButtonCloseClick()" class="btn btn-lg btn-default">Close</button>
      <button ng-click="onButtonOpenClick()"  class="btn btn-lg btn-primary">Open</button>
      <button ng-click="onButtonHoldClick()"  class="btn btn-lg btn-success">Hold</button>
    </p>

    <img  visibility="{{visibility}}" ng-src="{{displayImageUrl}}" class="img-responsive" alt="gate-closed" width="200" height="200">
</div>
</div> <!-- /container -->

</html>